* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Barlow", sans-serif; */
    outline: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.307), rgba(4, 9, 30, 0.608)), url(https://i.pinimg.com/736x/a5/e4/15/a5e4151a9b1c420c690e0be5431e28a2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.307), rgba(4, 9, 30, 0.608)), url(); */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-right: 30px;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slider {
    width: 800px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.slides {
    height: 500px;
    display: flex;
}

.slides input {
    display: none;

}

.slide {
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

@media(max-width: 1450px) {
    .slider {
        width: 800px;
        color: #fff;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        overflow: hidden;
    }

    .hero-btn {
        border: 65px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 60px;
    }
}

.hero-btn {
    border: 65px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
}

body[class = "dark-mode"]

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.btn-blog{
    border: 65px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    margin: 15px 0px 0px 490px;
}

.btn-blog:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-bars {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-bars {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

.course {
    width: 80%;
    margin: auto;
    /* text-align: center; */
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* padding: 10px; */
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 0px; */
    flex-wrap: wrap; 
}

.course-col {
    width: 200px;
    height: 450px;
    flex-basis: 31%;
    background-image: linear-gradient(rgb(107, 107, 107), rgb(255, 255, 255));
    /* border: 1px solid #ececec; */
    /* margin: 20px; */
    /* border-radius: 10px; */
    margin-bottom: 5%;
    /* padding: 20px 12px; */
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 25px 30px 35px 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #686868;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0px;
    font-family: sans-serif;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

body[class = "dark-mode"] .course-col:hover {
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2);
}

body .course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer:hover {
    background: rgba(121, 78, 78, 0.7);
}

.layer .blog-text {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer .blog-text a {
    color: whitesmoke;
    margin-top: -10px;
}

.layer .blog-text a:hover {
    color: #fe9b4f;
    transition: all ease 0.3s;
}

.layer .blog-text p {
    color: rgb(255, 219, 219);
    margin-bottom: 100px;
}

.layer:hover .blog-text {
    bottom: 49%;
    opacity: 1;
}

/* Dark-Light mode */
.dark-mode {
    background-color: rgb(51, 51, 51);
    color: white;
}

#btn_mode {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}

body[class = "dark-mode"] #btn_mode {
    border: 2px solid white;
}

#btn_mode:hover {
    scale: 1.2;
    transition: 0.5s;
}

/* SEARCH BOX */

.topnav .search-container button {
    float: right;
    padding: 6px;
    background: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.search-container {
    width: 100%;
    min-height: 10px;
}

.search-bar {
    width: 85%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
}

::placeholder {
    color: rgba(255, 255, 255, 0.57);

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 35px;
    background: #5963a3;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/* Blog */

.container{
	max-width: 1170px;
	margin:auto;
}
.row-2{
	display: flex;
	/* flex-wrap: wrap; */
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 35px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}